{% extends "layouts/layout.default.html" %}

{% block title %}Show-Link{% endblock %}

{% block section %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <img src="{{ link.website_image }}" alt="{{ link.name }}">
            </div>
        </div>
    </div>
</section>
{% endblock %}
