<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Diaries of a junior developer.">
    <meta name="author" content="Majid Mohamadi">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        {% include "layouts/layout.css.html" %}
    {% endblock %}
</head>
<body class="has-text-light">
    {% block navbar %}
        {% include "layouts/layout.navbar.html" %}
    {% endblock %}

    {% import 'macro/macro.message.html' as mcr_msg %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {{ mcr_msg.message(body=message, header=category)}}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="content">
        {% block section %}{% endblock %}
    </div>

    {% block footer %}
        {% include "layouts/layout.footer.html" %}
    {% endblock %}


    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block scriptGlobal %}
        {% include "layouts/layout.script.html" %}
    {% endblock %}
    {% block scriptLocal %}{% endblock %}
</body>
</html>
